@font-face {
  font-family: "SomeFont";
  src: url("/diez/assets/SomeFont.ttf");
}

$bindings-image: url("/diez/assets/image with spaces.jpg");
$bindings-image-2x: url("/diez/assets/image with spaces@2x.jpg");
$bindings-image-3x: url("/diez/assets/image with spaces@3x.jpg");
$font-name: "SomeFont";

@mixin bindings-typograph {
  font-family: "SomeFont";
  font-size: 50px;
  color: hsla(60, 100%, 50%, 1);
}
