@font-face {
  font-family: "SomeFont";
  font-weight: 700;
  font-style: normal;
  src: local("SomeFont"), url("/diez/assets/SomeFont.ttf");
}

:root {
  --bindings-image: url("/diez/assets/image with spaces.jpg");
  --bindings-image-2x: url("/diez/assets/image with spaces@2x.jpg");
  --bindings-image-3x: url("/diez/assets/image with spaces@3x.jpg");
  --bindings-image-width: 246px;
  --bindings-image-height: 246px;
}

.bindings-typograph {
  font-family: "SomeFont","Verdana",serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: hsla(60, 100%, 50%, 1);
}
