@font-face {
  font-family: "SomeFont";
  font-weight: 700;
  font-style: normal;
  src: local("SomeFont"), url("/diez/assets/SomeFont.ttf");
}

$bindings-image: url("/diez/assets/image with spaces.jpg");
$bindings-image-2x: url("/diez/assets/image with spaces@2x.jpg");
$bindings-image-3x: url("/diez/assets/image with spaces@3x.jpg");
$bindings-image-width: 246px;
$bindings-image-height: 246px;
$gradient-stop-color: hsla(240, 100%, 50%, 1);
$bindings-linear-gradient: linear-gradient(90deg, hsla(0, 100%, 50%, 1) 0%, hsla(240, 100%, 50%, 1) 100%);

@mixin bindings-image-background-image {
  background-image: url("/diez/assets/image with spaces.jpg");
  width: 246px;
  height: 246px;
  background-size: 246px 246px;

  @media (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    background-image: url("/diez/assets/image with spaces@2x.jpg");
  }

  @media (min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
    background-image: url("/diez/assets/image with spaces@3x.jpg");
  }
}

@mixin bindings-typograph {
  font-family: "SomeFont","Verdana",serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: hsla(60, 100%, 50%, 1);
}

@mixin gradient-stop-color-background-color {
  background-color: hsla(240, 100%, 50%, 1);
}

@mixin gradient-stop-color-color {
  color: hsla(240, 100%, 50%, 1);
}

@mixin bindings-linear-gradient-background {
  background: linear-gradient(90deg, hsla(0, 100%, 50%, 1) 0%, hsla(240, 100%, 50%, 1) 100%);
}

@mixin bindings-linear-gradient-background-image {
  background-image: linear-gradient(90deg, hsla(0, 100%, 50%, 1) 0%, hsla(240, 100%, 50%, 1) 100%);
}

