@font-face {
  font-family: "SomeFont";
  font-weight: 700;
  font-style: normal;
  src: local("SomeFont"), url("/diez/assets/SomeFont.ttf");
}

:root {
  --bindings-image: url("/diez/assets/image with spaces.jpg");
  --bindings-image-2x: url("/diez/assets/image with spaces@2x.jpg");
  --bindings-image-3x: url("/diez/assets/image with spaces@3x.jpg");
  --bindings-image-width: 246px;
  --bindings-image-height: 246px;
  --gradient-stop-color: hsla(240, 100%, 50%, 1);
  --bindings-linear-gradient: linear-gradient(90deg, hsla(0, 100%, 50%, 1) 0%, hsla(240, 100%, 50%, 1) 100%);
}

.bindings-typograph {
  font-family: "SomeFont","Verdana",serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  color: hsla(60, 100%, 50%, 1);
}
.gradient-stop-color-background-color {
  background-color: hsla(240, 100%, 50%, 1);
}
.gradient-stop-color-color {
  color: hsla(240, 100%, 50%, 1);
}
.bindings-linear-gradient-background {
  background: linear-gradient(90deg, hsla(0, 100%, 50%, 1) 0%, hsla(240, 100%, 50%, 1) 100%);
}
.bindings-linear-gradient-background-image {
  background-image: linear-gradient(90deg, hsla(0, 100%, 50%, 1) 0%, hsla(240, 100%, 50%, 1) 100%);
}
