

$color-h: 0;
$color-h-px: 0px;
$color-h-pt: 0pt;
$color-h-em: 0em;
$color-h-rem: 0rem;
$color-s: 0;
$color-s-px: 0px;
$color-s-pt: 0pt;
$color-s-em: 0em;
$color-s-rem: 0rem;
$color-l: 0;
$color-l-px: 0px;
$color-l-pt: 0pt;
$color-l-em: 0em;
$color-l-rem: 0rem;
$color-a: 1;
$color-a-px: 1px;
$color-a-pt: 1pt;
$color-a-em: 1em;
$color-a-rem: 1rem;
$nested-prefab-component-diez: 1;
$nested-prefab-component-diez-px: 1px;
$nested-prefab-component-diez-pt: 1pt;
$nested-prefab-component-diez-em: 1em;
$nested-prefab-component-diez-rem: 1rem;
$primitives-number: 10;
$primitives-number-px: 10px;
$primitives-number-pt: 10pt;
$primitives-number-em: 10em;
$primitives-number-rem: 10rem;
$primitives-integer: 10;
$primitives-integer-px: 10px;
$primitives-integer-pt: 10pt;
$primitives-integer-em: 10em;
$primitives-integer-rem: 10rem;
$primitives-float: 10;
$primitives-float-px: 10px;
$primitives-float-pt: 10pt;
$primitives-float-em: 10em;
$primitives-float-rem: 10rem;
$primitives-string: "ten";
$primitives-boolean: true;
$primitives-referred: 10;
$primitives-referred-px: 10px;
$primitives-referred-pt: 10pt;
$primitives-referred-em: 10em;
$primitives-referred-rem: 10rem;

