
:root {
  --primitives-number: 10;
  --primitives-number-px: 10px;
  --primitives-number-pt: 10pt;
  --primitives-number-em: 10em;
  --primitives-number-rem: 10rem;
  --primitives-integer: 10;
  --primitives-integer-px: 10px;
  --primitives-integer-pt: 10pt;
  --primitives-integer-em: 10em;
  --primitives-integer-rem: 10rem;
  --primitives-float: 10;
  --primitives-float-px: 10px;
  --primitives-float-pt: 10pt;
  --primitives-float-em: 10em;
  --primitives-float-rem: 10rem;
  --primitives-string: "ten";
  --primitives-boolean: true;
  --primitives-referred: 10;
  --primitives-referred-px: 10px;
  --primitives-referred-pt: 10pt;
  --primitives-referred-em: 10em;
  --primitives-referred-rem: 10rem;
}

