
$child-component-diez: 10;
$child-component-diez-px: #{$child-component-diez}px;
$child-component-diez-pt: #{$child-component-diez}pt;
$child-component-diez-em: #{$child-component-diez}em;
$child-component-diez-rem: #{$child-component-diez}rem;
$primitives-number: 10;
$primitives-number-px: #{$primitives-number}px;
$primitives-number-pt: #{$primitives-number}pt;
$primitives-number-em: #{$primitives-number}em;
$primitives-number-rem: #{$primitives-number}rem;
$primitives-integer: 10;
$primitives-integer-px: #{$primitives-integer}px;
$primitives-integer-pt: #{$primitives-integer}pt;
$primitives-integer-em: #{$primitives-integer}em;
$primitives-integer-rem: #{$primitives-integer}rem;
$primitives-float: 10;
$primitives-float-px: #{$primitives-float}px;
$primitives-float-pt: #{$primitives-float}pt;
$primitives-float-em: #{$primitives-float}em;
$primitives-float-rem: #{$primitives-float}rem;
$primitives-string: "ten";
$primitives-boolean: true;

