<div class="external-diez-docs-root minimal no-js">

{{> header}}

<nav class="tsd-navigation secondary">
    <h4>Packages</h4>
    <ul>
        {{#each toc.children}}
            {{> toc}}
        {{/each}}
    </ul>
</nav>

<div class="container container-main">
    <div class="content-wrap">
        {{#if model.readme}}
                <div class="tsd-panel tsd-typography">
                        {{#markdown}}{{{model.readme}}}{{/markdown}}
                </div>
        {{/if}}

        {{{contents}}}
        {{> footer}}
    </div>
</div>

{{> analytics}}

</div>
