// SPACINGS
$spacing2XS: 2px;
$spacingXS: 4px;
$spacingSM: 8px;
$spacingMD: 12px;
$spacingLG: 18px;
$spacingXL: 24px;
$spacing2XL: 32px;
$spacing3XL: 44px;

// SIZINGS
$sizing2XS: 60px;
$sizingXS: 100px;
$sizingSM: 200px;
$sizingMD: 300px;
$sizingLG: 500px;
$sizingXL: 640px;
$sizing2XL: 860px;
$sizing3XL: 1300px;

$page-width: $sizing3XL;

$purple: #5623EE;
$mauve: #A494D3;
$mauve700: darken($mauve, 20%);
$white: #fff;
$gray100: #FBFAFD;
$gray400: #F6F5FB;
$gray700: #EAE6F6;
$gray900: #79738F;
$black: #000010;

$primary: $purple;
$secondary: $mauve;
$cardInsetShadow: $gray100;
$cardColor: $gray400;
$cardShadow: $gray700;

$borderRadiusCard: 7px;
$borderRadiusButton: 4px;

$smallText: 16px;
$source-sans-pro: "Source Sans Pro", sans-serif;
$source-code-pro: "Source Code Pro", monospace;

@mixin tablet-large {
  @media (max-width: 1100px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $sizing2XL) {
    @content;
  }
}

@mixin phone {
  @media (max-width: $sizingXL) {
    @content;
  }
}

@mixin hide-mobile {
  @include tablet {
    display: none;
  }
}

@mixin font-family ($family) {
  font-family: nth($family, 2);

  .fonts-loaded & {
    font-family: $family;
  }
}

@mixin navfont() {
  @include font-family($source-sans-pro);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: 400;
  font-size: 20px;
}

@mixin link() {
  text-decoration: none;
  color: $primary;
  font-weight: 900;
  transition: opacity 140ms ease-out;
  &:hover {
    text-decoration: underline;
  }
  &.on-primary {
    color: $black;
  }
}

@mixin button() {
  @include font-family($source-code-pro);
  display: inline-block;
  background-color: $primary;
  position: relative;
  border-radius: $borderRadiusButton;
  border-bottom: 4px solid darken($primary, 40%);
  padding: 11px 30px 9px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1.4px;
  color: $white;
  text-decoration: none;
  transition: all 100ms;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  &:active {
    transform: translateY(4px);
    border-bottom: 4px solid transparent;
  }
  &:before {
    content: "";
    background-color: rgba(71, 32, 32, 0.07);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
    pointer-events: none;
  }
  &:hover {
    opacity: 1;
    text-decoration: none;
    &:before {
      transform: skewX(-45deg) translateX(700%);
      transition: all 300ms ease-in;
    }
  }
  &.alt {
    background-color: $white;
    color: $black;
    margin: 0 $spacingSM;
    border-bottom: 4px solid $gray700;
    &:active {
      border-bottom: 4px solid transparent;
    }
  }
}
