@import 'utils';
@import 'layout';

.shared {
  .underline {
    text-decoration: underline;
  }

  &.page, &#faq {
    @include nav();
    @include tablet {
      padding-top: $sizing-xs-px;
    }
  }

  pre {
    margin: 0;
  }

  code, .mono {
    @include typography-code-large();
    &.inline {
      background-color: $palette-card-color;
      border-radius: $border-radius-button-px;
      padding: 0 $spacing-sm-px;
      font-weight: 700;
      color: $palette-mauve700;
    }
  }

  a {
    @include link();
  }

  p, li {
    line-height: 32px;
  }

  h1 {
    @include typography-heading-one();
    @include phone {
      font-size: 2.5rem;
      padding: 0 $spacing-lg-px;
    }
  }

  h2 {
    @include typography-heading-two();
    &.ivan {
      margin-top: -78px;
      text-align: center;
      @include phone {
        margin: 0;
      }
    }
    @include phone {
      font-size: 2rem;
    }
  }

  h3 {
    @include typography-heading-three();
    line-height: 2.72rem;
    @include phone {
      font-size: 1.7rem;
      line-height: 2.2rem;
      padding: 0 $spacing-lg-px;
    }
  }

  h4 {
    @include typography-heading-four();
    line-height: 2.2rem;
    margin-bottom: -12px;
  }

  li {
    margin-top: $spacing-md-px;
  }

  button,
  .button {
    @include button();
  }

  .muted {
    opacity: .57
  }

  .holster-tri-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
  }

  .card {
    border-radius: $border-radius-card-px;
    background-color: $palette-card-color;
    box-shadow: 0 5px 0 $palette-card-shadow, inset 0 2px 0 $palette-card-inset-shadow;
    overflow: hidden;
    &.third {
      width: calc(33% - 24px);
      margin: $spacing-md-px;
      text-align: center;
      font-weight: 700;
      padding: $spacing-lg-px;
      @include tablet-large {
        width: calc(50% - 24px);
      }
      img {
        height: 60px;
        width: 100%;
        pointer-events: none;
        margin: $spacing-lg-px 0;
      }
      &.mono img {
        height: 35px;
      }
    }
    &.fourth {
      @extend .third;
      padding: $spacing-md-px;
      font-size: 0.75em;
      width: calc(25% - 24px);
      img {
        height: 2em;
        width: 100%;
        margin: $spacing-xs-px 0;
      }
      @include tablet-large {
        span {
          display: none;
        }
      }
    }
    &.extensible {
      background-color: $palette-mauve;
      color: $palette-white;
      box-shadow: 0 5px 0 $palette-mauve700, inset 0 2px 0 $palette-card-inset-shadow;

      &:hover {
        text-decoration: none;
      }
    }
  }

  a.card {
    color: $palette-black;
    transition: background-color 120ms ease;
    &:hover {
      text-decoration: none;
      background-color: darken($palette-card-color, 1.3%);
    }
  }

  .strike {
    text-decoration: line-through wavy $palette-purple;
  }

  .correction-container {
    position: relative;
    display: inline-block;
    width: 1px;
    overflow: visible;
  }


  .correction {
    color: $palette-purple;
    font-size: .8em;
    font-weight: bolder;
    position: absolute;
    transform: rotate(-6deg) translate(-64px, -60px);
    @include tablet {
      transform: rotate(-9deg) translate(-54px, -54px);
    }
  }

  .code-block {
    @extend .card;
    width: 67%;
    padding: $spacing-md-px $spacing-xl-px;
    overflow: auto;
    margin-top: $spacing-xxl-px;
    @include phone {
      width: 100%;
    }
  }

  .card-code {
    @extend .card;
    @include typography-code-small();
    padding: $spacing-lg-px;
    width: 100%;
    height: $sizing-lg-px;
    margin-top: $spacing-lg-px;
    overflow: auto;
    @include phone {
      font-size: 12px;
    }
  }

  .get-in-touch {
    @include typography-code-large();
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .hljs {
    display: block;
    overflow-x: auto;
    padding: $spacing-sm-px $spacing-lg-px;
    background-color: transparent;
  }

  .tab-links {
    font-weight: 700;
    font-size: $smallText;
    border-radius: $border-radius-button-px;
    padding: $spacing-xs-px $spacing-lg-px;
    cursor: pointer;
    &.active {
      background-color: $palette-mauve;
      color: $palette-white;
    }
  }

  .small-text-indented {
    font-size: $smallText;
    font-weight: 700;
    margin-left: $spacing-lg-px;
  }

  .note {
    font-size: $smallText;
    margin-top: $spacing-lg-px;
    line-height: 1.5rem;
    color: $palette-gray900;
    code {
      font-weight: 400 !important;
      font-size: 16px;
    }
  }

  .aside {
    margin-top: $spacing-xxl-px;
    font-size: 17px;
    padding: $spacing-xs-px $spacing-xl-px;
    background-color: $palette-gray400;
    color: $palette-purple;
    border: 4px solid $palette-purple;
    border-radius: $border-radius-card-px;
    li, p {
      line-height: 30px;
    }
    h4 {
      color: inherit;
    }
  }
}
