@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:400,400i,900');

$purple: #5623EE;
$primary: $purple ;
$white: #fff;
$black: #000;

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

code {
  font-family: 'Source Code Pro', monospace;
}

a {
  text-decoration: none;
  color: $primary;
  font-weight: 900;
  transition: opacity 140ms ease-out;
  &:hover {
    opacity: .76;
  }
}

button, .button {
  background-color: $primary;
  position: relative;
	border-radius: 4px;
  border-bottom: 4px solid darken($primary, 40%);
	padding: 11px 30px 9px;
  margin: 0px 10px;
  font-weight: 900;
	font-family: 'Source Code Pro', monospace;
  letter-spacing: 1.4px;
	color: $white;
	text-decoration: none;	
  transition: all 100ms;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  &:active {
    transform: translate(0px,4px);
    border-bottom: 1px solid;
  }
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.09);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
    pointer-events: none;
  }
  &:hover {
    opacity: 1;
    &:before {
      transform: skewX(-45deg) translateX(600%);
      transition: all 300ms ease-in;
    }
  }
}