<footer{{#unless settings.hideGenerator}} class="with-border-bottom"{{/unless}}>
    <div class="container">
        <h2>Legend</h2>
        <div class="tsd-legend-group">
            <ul class="tsd-legend">
                <li class="tsd-kind-module"><span class="tsd-kind-icon">Module</span></li>
                <li class="tsd-kind-variable"><span class="tsd-kind-icon">Variable</span></li>
                <li class="tsd-kind-function"><span class="tsd-kind-icon">Function</span></li>
            </ul>
            <ul class="tsd-legend">
                <li class="tsd-kind-type-alias"><span class="tsd-kind-icon">Type</span></li>
                <li class="tsd-kind-enum"><span class="tsd-kind-icon">Enumeration</span></li>
                <li class="tsd-kind-interface"><span class="tsd-kind-icon">Interface</span></li>
            </ul>
            <ul class="tsd-legend">
                <li class="tsd-kind-class"><span class="tsd-kind-icon">Class</span></li>
                <li class="tsd-kind-property tsd-parent-kind-class"><span class="tsd-kind-icon">Property</span></li>
                <li class="tsd-kind-method tsd-parent-kind-class"><span class="tsd-kind-icon">Method</span></li>
            </ul>
            <ul class="tsd-legend">
                <li class="tsd-kind-property tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inheritance</span></li>
                <li class="tsd-kind-property tsd-parent-kind-class tsd-is-static"><span class="tsd-kind-icon">Static property</span></li>
                <li class="tsd-kind-call-signature tsd-parent-kind-class tsd-is-static"><span class="tsd-kind-icon">Static method</span></li>
            </ul>
        </div>
    </div>
</footer>

{{#unless settings.hideGenerator}}
    <div class="container tsd-generator">
        <p>Generated using <a href="https://typedoc.org/" target="_blank">TypeDoc</a></p>
    </div>
{{/unless}}
