<header>
    <div class="tsd-page-toolbar">
        <div class="container">
            <div class="table-wrap">
                <div class="table-cell">
                    <strong><a href="{{relativeURL "index.html"}}">{{project.name}}</a></strong>
                </div>
                <div class="table-cell" id="tsd-widgets">
                    <a href="#typedoc-main-index" class="tsd-widget menu no-caption">Menu</a>
                </div>
            </div>
        </div>
    </div>
</header>